.contact-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 100px);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-bottom: 40px;
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}


.work-history {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    min-height: calc(100vh - 40px);
}

.contact-container h1 {
    font-size: 36px;
}

.contact-container p {
    font-size: 18px;
}

.social-media-links a {
    margin-right: 20px;
}

.social-media-links i {
    font-size: 24px;
}

.social-media-links img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
