/* Video Responsive Styles */
.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video-responsive::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Thumbnail Container Styles */
.thumbnail-container {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
  padding: 10px;
}

.thumbnail {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.thumbnail-image {
  max-height: 80px;
  height: auto;
  border-radius: 5px;
}

.active .thumbnail-image {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
